{% extends 'layout.html' %}

{% block title %}
Benefits of being healthy
{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid" id="health-image">
  <div class="container">
    <h1 class="display-1 mb-5">Why eat healthy?</h1>
  </div>
</div>

<div class="container">
  <h2 class="tips">The impact of good health</h2>
  <p>You know that healthy habits, such as eating well, exercising, and avoiding harmful substances, make sense, but did you ever stop to think about why you practice them? A healthy habit is any behavior that benefits your physical, mental, and emotional health. These habits improve your overall well-being and make you feel good.</p>
  <p>Healthy habits are hard to develop and often require changing your mindset. But if you’re willing to make sacrifices to better your health, the impact can be far-reaching, regardless of your age, sex, or physical ability. Here are five benefits of a healthy lifestyle.</p>

  <h2 class="tips">Controls weight</h2>
  <p>Eating right and exercising regularly can help you avoid excess weight gain and maintain a healthy weight. According to the Mayo Clinic, being physically active is essential to reaching your weight-loss goals. Even if you’re not trying to lose weight, regular exercise can improve cardiovascular health, boost your immune system, and increase your energy level.</p>
  <p>Plan for at least 150 minutes of moderate physical activity every week. If you can’t devote this amount of time to exercise, look for simple ways to increase activity throughout the day. For example, try walking instead of driving, take the stairs instead of the elevator, or pace while you’re talking on the phone.</p>
  <p>Eating a balanced, calorie-managed diet can also help control weight. When you start the day with a healthy breakfast, you avoid becoming overly hungry later, which could send you running to get fast food before lunch.</p>
  <p>Additionally, skipping breakfast can raise your blood sugar, which increases fat storage. Incorporate at least five servings of fruits and vegetables into your diet per day. These foods, which are low in calories and high in nutrients, help with weight control. Limit consumption of sugary beverages, such as sodas and fruit juices, and choose lean meats like fish and turkey.</p>

  <h2 class="tips">Improves mood</h2>
  <p>Doing right by your body pays off for your mind as well. The Mayo Clinic notes that physical activity stimulates the production of endorphins. Endorphins are brain chemicals that leave you feeling happier and more relaxed. Eating a healthy diet as well as exercising can lead to a better physique. You’ll feel better about your appearance, which can boost your confidence and self-esteem. Short-term benefits of exercise include decreased stress and improved cognitive function.</p>
  <p>It’s not just diet and exercise that lead to improved mood. Another healthy habit that leads to better mental health is making social connections. Whether it’s volunteering, joining a club, or attending a movie, communal activities help improve mood and mental functioning by keeping the mind active and serotonin levels balanced. Don’t isolate yourself. Spend time with family or friends on a regular basis, if not every day. If there’s physical distance between you and loved ones, use technology to stay connected. Pick up the phone or start a video chat.</p>

  <h2 class="tips">Combats diseases</h2>
  <p>Healthy habits help prevent certain health conditions, such as heart disease, stroke, and high blood pressure. If you take care of yourself, you can keep your cholesterol and blood pressure within a safe range. This keeps your blood flowing smoothly, decreasing your risk of cardiovascular diseases.</p>
  <p>Regular physical activity and proper diet can also prevent or help you manage a wide range of health problems, including:</p>
  <ul>
    <li>metabolic syndrome</li>
    <li>diabetes</li>
    <li>depression</li>
    <li>certain types of cancer</li>
    <li>arthritis</li>
  </ul>
  <p>Make sure you schedule a physical exam every year. Your doctor will check your weight, heartbeat, and blood pressure, as well as take a urine and blood sample. This appointment can reveal a lot about your health. It’s important to follow up with your doctor and listen to any recommendations to improve your health.</p>

  <h2 class="tips">Boosts energy</h2>
  <p>We’ve all experienced a lethargic feeling after eating too much unhealthy food. When you eat a balanced diet your body receives the fuel it needs to manage your energy level. A healthy diet includes:</p>
  <ul>
    <li>whole grains</li>
    <li>lean meats</li>
    <li>low-fat dairy products</li>
    <li>fruit</li>
    <li>vegetables</li>
  </ul>
  <p>Regular physical exercise also improves muscle strength and boosts endurance, giving you more energy, says the Mayo Clinic. Exercise helps deliver oxygen and nutrients to your tissues and gets your cardiovascular system working more efficiently so that you have more energy to go about your daily activities. It also helps boost energy by promoting better sleep. This helps you fall asleep faster and get deeper sleep.</p>
  <p>Insufficient sleep can trigger a variety of problems. Aside from feeling tired and sluggish, you may also feel irritable and moody if you don’t get enough sleep. What’s more, poor sleep quality may be responsible for high blood pressure, diabetes, and heart disease, and it can also lower your life expectancy. To improve sleep quality, stick to a schedule where you wake up and go to bed at the same time every night. Reduce your caffeine intake, limit napping, and create a comfortable sleep environment. Turn off lights and the television, and maintain a cool room temperature.</p>

  <h2 class="tips">Improves longevity</h2>
  <p>When you practice healthy habits, you boost your chances of a longer life. The American Council on Exercise reported on an eight-year study of 13,000 people. The study showed that those who walked just 30 minutes each day significantly reduced their chances of dying prematurely, compared with those who exercised infrequently. Looking forward to more time with loved ones is reason enough to keep walking. Start with short five-minute walks and gradually increase the time until you’re up to 30 minutes.</p>

  <h2 class="tips">The takeaway</h2>
  <p id="addSpace">Bad habits are hard to break, but once you adopt a healthier lifestyle, you won’t regret this decision. Healthy habits reduce the risk of certain diseases, improve your physical appearance and mental health, and give your energy level a much needed boost. You won’t change your mindset and behavior overnight, so be patient and take it one day at a time.</p>

  <hr>
  <p class="cite">All information were cited from <a href="https://www.healthline.com/health/5-benefits-healthy-habits">The Benefits of Healthy Habits</a> from Healthline.com.</p>
</div>

<footer id="footer">
  <div class="container-fluid padding">
    <div class="row justify-content-center">
      <div class="col-md-5 text-center">
        <img src="/static/logo.png" alt="Logo" id="footerLogo">
        <p>This is a web app created as part of the Final Project for CS50x : Introduction to Computer Science. All contents, images, and text used for this project belong to their respective owner.</p>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-square fa-2x"></i></a>
      </div>
    </div>
  </div>
  <hr>
  <p id="credit">Done by Francis Valdez</p>
</footer>
{% endblock %}